---
layout: default
---


<body>
<div style="height:30px;"></div>

<h2 style="text-align: left"> ¿Qué tanto apoyo tiene el Acuerdo de Paz con las FARC en los municipios que han sido más afectados por el conflicto?
</h2>

<h3 style="text-align: left"> Análisis de los resultados electorales: 
</h3> 

<p align="justify"> Pendiente para después del plebiscito... </p>

<h3 style="text-align: left"> Predicción:
</h3> 

<p align="justify"> Dado que esta pregunta sólo la podremos responder con certeza el 3 de octubre, tratamos de hacer una aproximación viendo el apoyo a Juan Manuel Santos en las elecciones presidenciales de 2014. Encontramos que existe una fuerte correlación entre el grado de victimización de los municipios y su nivel de apoyo a Santos. Zonas como Cauca, Nariño, Caquetá y partes de Antioquia muestran una alta intensidad de conflicto armado relacionado con un fuerte apoyo a la candidatura de Santos. Para este estudio utilizamos los datos electorales de la Registraduría y los niveles de victimización del Índice de Riesgo de Victimización (IRV) realizado por la Unidad de Víctimas y la base de datos del portal Noche y Niebla. </p>

<p align="justify"> Nos pareció relevante analizar la elección de 2014 porque la carrera presidencial tuvo como gran protagonista al proceso de paz. Como menciona el <a href="http://www.semana.com/nacion/articulo/proceso-de-paz-resumen-del-ano-2014/412072-3"  target="_blank"> artículo</a> de la revista Semana de diciembre de 2014: “Las elecciones presidenciales se convirtieron en un referendo sobre la Mesa de negociaciones y el país literalmente se dividió en dos, entre quienes querían continuar y los que buscaban su fin.” Aunque no es un predictor perfecto, creemos que puede dar pistas para responder la pregunta del comienzo. Utilizamos los datos de la segunda vuelta, donde el apoyo a Santos es simplemente el número de votos favorables sobre el total de votos en el municipio. Los resultados están en el siguiente mapa: </p>

<p>
 <h3 style="text-align: left">Mapa 1- Porcentaje de votos por Juan Manuel Santos en la segunda vuelta de las elecciones presidenciales del 2014</h3>
{% include proyecto_paz/elecciones2.html %}
</p>

<p align="justify"> Otro reto fue encontrar información sobre el nivel del conflicto armado en el país. Utilizamos dos fuentes de datos. La primera fuente fue construida por la Unidad para la Atención y Reparación Integral a las Víctimas con apoyo de expertos de la Universidad Santo Tomás. En ella se hizo un cálculo del riesgo de victimización como función de las amenazas y vulnerabilidad de cada municipio en Colombia a diferentes formas de violencia. Cabe resaltar, que el IRV fue construido contando a todas las víctimas del conflicto y no solo a las víctimas de las FARC. 
</p>

<p>
 <h3 style="text-align: left">Mapa 2- Índice de riesgo de victimización 2014</h3>
{% include proyecto_paz/victimas.html %}
</p>


<p align="justify"> En la base de datos de Noche y Niebla logramos diferenciar a las víctimas de las FARC y presentamos un conteo del número de víctimas por cada 1000 habitantes. Es posible visualizar estos datos en el mapa 3. </p>

<p>
 <h3 style="text-align: left">Mapa 3- Número de víctimas de las FARC por cada 1000 habitantes 2001-2015</h3>
{% include proyecto_paz/nocheyniebla.html %}
</p>


<p align="justify"> Es interesante ver como el centro del país muestra una tasa baja de victimización que está asociada con un bajo apoyo a Santos. Por el contrario, en regiones tradicionalmente afectadas por el conflicto con las FARC como el Cauca, Nariño, Caquetá y partes de Antioquia, muestran todo lo contrario. Esta correlación se mantiene en casi todo el territorio nacional excepto en la costa atlántica donde hubo un alto apoyo a Santos y baja intensidad del conflicto. Estas correlaciones se mantienen en las dos fuentes de datos pero dada la cobertura geográfica se aprecian mejor en el IRV. </p>

<p align="justify"> Esta información puede contribuir a predecir (a grandes rasgos) los lugares donde el plebiscito tendrá más apoyo. Existen muchos factores que pueden estar generando estos resultados como el voto coaccionado en municipios más violentos, clientelismo o que las víctimas realmente apoyan más al proceso. Sin embargo, al no tener claro cuál de estos factores es más relevante preferimos no sacar conclusiones apresuradas. </p>  


<p align="justify" id="footnote-1">* <font size="2"> Nota1: Víctimas de todos los actores del conflicto excepto que se especifique.  </p>

<p align="justify" id="footnote-1">* <font size="2"> Nota 2: Víctimas de i) Acto terrorista, atentados, combates, enfrentamientos, hostigamientos, ii) amenazas, iii) delitos contra la libertad y la integridad sexual en el desarrollo del conflicto armado, iv) desaparición forzada, v) desplazamiento forzado, vi) homicidio, masacre, vii) minas antipersonal, munición sin explotar y artefacto explosivo improvisado, viii) secuestro, ix) tortura, x) vinculación de niños niñas y adolescentes a actividades relacionadas con grupos armados y xi) despojo y/o abandono forzado de bienes muebles e inmuebles.</p>

<p align="justify" id="footnote-1">* <font size="2"> Nota3: Un aumento de 1 (sobre 100) en el IRV está asociado con un aumento de 0.3% en porcentaje de apoyo a Santos. La relación es estadísticamente significativa pero no implica causalidad. </p>


<div style="height:30px;"></div>
</body>

