<section  align="left">


<header>
	<nav style="text-align:center">
		<ul>
		  <li style="display:inline"> <a href="{{site.baseurl}}/index.html" style="font-size:23px; color: black; text-decoration:none; padding:0 30px;"> <strong> Inicio </strong> </a> </li>
		  <li style="display:inline"> <a href="{{site.baseurl}}/proyectos.html"  style="font-size:23px; color: black; text-decoration:none; padding:0 30px;"> <strong> Proyectos</strong></a> </li>
		  <li style="display:inline"> <a href="{{site.baseurl}}/quienessomos.html"  style="font-size:23px; color: black; text-decoration:none; padding:0 30px;"> <strong>¿Quiénes somos? </strong></a> </li>
		</ul>
	</nav>
</header>