<section  align="center">

<head>
<style>

nav {
	text-align:center;
}
nav li {
	display:inline;
}
nav a {
	text-decoration:none; 
	padding:0 30px; /* variable width */
}

</style>
</head>

<header>
	<nav>
		<ul>
		  <li> <a href="{{site.baseurl}}/index.html" style="font-size:20px">Inicio</a> </li>
		  <li> <a href="{{site.baseurl}}/proyectos.html"  style="font-size:20px">Proyectos</a> </li>
		  <li> <a href="{{site.baseurl}}/quienessomos.html"  style="font-size:20px">¿Quiénes somos?</a> </li>
		</ul>
	</nav>
</header>