
<head>
    <meta charset="utf-8">

    <style>
      #tooltip{
        padding:0px 0px 0px 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        align: left;
      }
    </style>
    
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">

  google.charts.load('current', {packages: ['corechart', 'bar', 'line', 'geochart', 'table']});
  google.charts.setOnLoadCallback(drawChart);


  function drawChart() {
    var dataTable1 = new google.visualization.DataTable();
    dataTable1.addColumn('string', 'Country');
    // Use custom HTML content for the domain tooltip.
    dataTable1.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
    dataTable1.addColumn('number', '');
    dataTable1.addColumn('number', 'En Colombia');
    dataTable1.addColumn('number', 'En OCDE');
    dataTable1.addColumn('number', 'En EEUU');

    dataTable1.addRows([
      ['Universidad De Los Andes', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/andes.png',397.2, 367.1, 167.8), 0,397.2, 367.1, 167.8],
      ['Universidad Nacional De Colombia', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/nacional.png',648, 273.2, 107.7), 0,648, 273.2, 107.7],
      ['Universidad De Cartagena', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/cartagena.png',334.8, 151, 57.3), 0,334.8, 151, 57.3],
      ['Escuela De Ingeniería De Antioquia', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/escantioquia.png',310.1, 148.2, 57.7), 0,310.1, 148.2, 57.7],
      ['Universidad Industrial De Santander', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/uis.png',248.6, 139.7, 54.6), 0,248.6, 139.7, 54.6],
      ['Universidad del Norte', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/norte.png',324.2, 139.6, 56.4), 0,324.2, 139.6, 56.4],
      ['Colegio Mayor de Nuestra Señora Del Rosario', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/rosario.png',242.8, 125.3, 50.8), 0,242.8, 125.3, 50.8],
      ['Universidad del Valle', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/valle.png',307.6, 122, 44.8), 0,307.6, 122, 44.8],
      ['Universidad Eafit', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/eafit.png',186.8, 120, 45.1), 0,186.8, 120, 45.1],
      ['Universidad de Ibagué', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/ibague.png',297.2, 107.5, 12.5), 0,297.2, 107.5, 12.5],
    ]);

    var options1 = {
      title: '',
      titleTextStyle: {fontSize: '16', bold: 'TRUE', alignment: 'center'},
      colors: ['transparent', '#C0C0C0', '#8C7853', '#FFD700'],
      // This line makes the entire category's tooltip active.
      focusTarget: 'category',
      // Use an HTML tooltip.
      tooltip: { isHtml: true },
      legend: { position: 'right', alignment: 'center', title: 'Publicaciones en:', textStyle: {fontSize: '14'}, },
      backgroundColor: { fill: "transparent" },
      bar: {groupWidth: "85%"},
      vAxis: {
          title: 'Publicaciones/1000 estudiantes',
                titleTextStyle: {fontSize: '14', italic:'FALSE', bold: 'FALSE', alignment: 'center'},
          textStyle: {
            italic:'FALSE', color: '#000000', fontSize: '13'
          }
        },
      chartArea: {left:'70', width: '80%', height: '60%', top:'30', backgroundColor: { fill: "#FFFFFF" }},
      hAxis: {
        textStyle: {fontSize: '13'}
      },
      isStacked: false,
    };

    // Create and draw the visualization.
    var chart = new google.visualization.ColumnChart(document.getElementById('custom_html_content_div_top'));
    chart.draw(dataTable1, options1);

    
    // GRAFICA 2:
      var data2 = new google.visualization.DataTable();
      data2.addColumn('string', 'Año');
      data2.addColumn('number', 'Universidad de los Andes');
      data2.addColumn('number', 'Universidad Nacional');
      data2.addColumn('number', 'Universidad de Cartagena');
      data2.addColumn('number', 'Escuela de Ingeniería de Antioquia');
      data2.addColumn('number', 'Universidad Industrial de Santander');
      data2.addColumn('number', 'Universidad del Norte');
      data2.addColumn('number', 'Colegio Mayor de Nuestra Señora del Rosario');
      data2.addColumn('number', 'Universidad del Valle');
      data2.addColumn('number', 'Universidad Eafit');
      data2.addColumn('number', 'Universidad de Ibagué');

      data2.addRows([
        ['2007',312.1739,281.5943,,123.6094,122.6686,95.08196,127.2727,93.51753,80.25478,80.35715],
        ['2008',313.3281,325.8282,,106.8427,144.5313,105.0989,96.9697,128.9641,106.4871,67.16418],
        ['2009',351.5199,314.9868,110.7266,115.9251,138.8235,102.719,42.25352,134.8195,,131.0345],
        ['2010',375.9019,281.151,125.3854,81.4978,160.2317,125.213,128.5714,115.3846,106.9519,80.88235],
        ['2011',376.4124,259.7303,106.1538,164.8873,119.7917,129.4766,191.7808,119.108,127.0661,107.9137],
        ['2012',376.2518,278.5924,142.8571,191.0112,146.1852,156.6081,173.3333,131.0824,115.1386,165.4676],
        ['2013',409.3655,299.0721,141.1483,193.4461,128.3668,171.1851,205.1282,131.3725,144.5652,119.7183],
        ['2014',325.5659,310.0794,132.0437,149.4986,135.989,160.4278,118.4211,128.414,134.0388,74.66666],
        ['2015',299.8053,241.8719,87.53462,115.917,121.5622,161.6162,112.2995,,107.6658,52.23881],
  	]);

      var options2 = {
        chart: {
          title: ''
        },
        chartArea: {left:'100', top:'30', width: '10%', height: '60%', backgroundColor: { fill: "#FFFFFF" }},
        titleTextStyle: {fontSize: '16', bold: 'TRUE', alignment: 'center', color: '#000000', },
        backgroundColor: { fill: "transparent" },
        hAxis: {
          format: 'none',
          title: 'Año',
          textStyle: {
            italic:'FALSE', color: '#000000', fontSize: '13'
          }
        },
        vAxis: {
          title: 'Publicaciones/1000 estudiantes',
          titleTextStyle: {fontSize: '14', italic:'FALSE', bold: 'FALSE', alignment: 'center'},
          textStyle: {
            color: '#000000', fontSize: '13'
          }
        },
        width: '80%',
        height: '80%'
      };

      var chart2 = new google.charts.Line(document.getElementById('linechart_material'));

      chart2.draw(data2, google.charts.Line.convertOptions(options2));
  


  // GRAFICA 3 - MAPA

  var data3 = google.visualization.arrayToDataTable([
          ['Country', 'Publicaciones promedio por año'],
['Afghanistan', 0.4],
['Germany', 155.3],
['Saudi Arabia', 1.5],
['Argelia', 0.2],
['Argentina', 94.2],
['Armenia', 0.1],
['Australia', 14.8],
['Austria', 10.2],
['Azerbaijan', 0.1],
['Bangladesh', 0.3],
['Belice', 0],
['Belorus', 0],
['Belgica', 11.2],
['Bolivia', 2.6],
['Boznia Herzegovina', 0.2],
['Brazil', 213.6],
['Brunei', 0.1],
['Bulgaria', 13.9],
['Burundi', 0.1],
['Cambodia', 0],
['Cameroon', 0.1],
['Canada', 32.8],
['Chad', 0.1],
['Chile', 133.4],
['China', 9.7],
['Cyprus', 0.2],
['North Korea', 0.3],
['South Korea', 3.7],
['Ivory Coast', 0.1],
['Costa Rica', 38.8],
['Croatia', 1.4],
['Cuba', 57.4],
['Denmark', 7.7],
['Dominica', 0],
['Ecuador', 13.8],
['Egypt', 3.1],
['El Salvador', 0.2],
['UAE', 1.8],
['Scotland', 1.9],
['Slovakia', 0.7],
['Slovenia', 0.4],
['Spain', 366.4],
['Stonia', 0.6],
['Ethiopia', 0.1],
['Phillippines', 0.4],
['Finland', 2.4],
['Fiji', 0.1],
['France', 48.8],
['United Kingdom', 141.3],
['United States', 1183.9],
['Wales', 0.1],
['Greece', 4.5],
['Guatemala', 0.5],
['Haiti', 0.1],
['Honduras', 0.5],
['Hong Kong', 1],
['Hungary', 6.8],
['India', 24.9],
['Indonesia', 0.4],
['England', 275.3],
['Irak', 0.1],
['Ireland', 9.5],
['Iran', 0.9],
['Iceland', 0.4],
['Israel', 4.9],
['Italy', 42.9],
['Jamaica', 0],
['Japan', 12.9],
['Jordan', 0],
['Kazakhstan', 0],
['Kenya', 1.2],
['Kuwait', 0.1],
['Letonia', 0.3],
['Lithuania', 0.7],
['Luxembourg', 0.3],
['Macau', 0.2],
['Madagascar', 0],
['Malaysia', 1.6],
['Malaui', 0.3],
['Malta', 0.1],
['Morocco', 0.2],
['Mauritius', 0.1],
['Monaco', 0.1],
['Mongolia', 0.1],
['Mozambique', 0],
['Mexico', 148.4],
['Namibia', 0.1],
['Nepal', 0.1],
['Niger', 0.2],
['Nicaragua', 0.3],
['Nigeria', 2.8],
['Norway', 2.8],
['New Zealand', 14.3],
['Pakistan', 5.2],
['Panama', 1.6],
['Paraguay', 0.2],
['Netherlands', 255.6],
['Peru', 24.7],
['Poland', 9.8],
['Portugal', 9.7],
['Puerto Rico', 10.2],
['Czech Republic', 4.2],
['Congo', 0.1],
['Dominican Republic', 0.7],
['Romania', 5.4],
['Russia', 7.1],
['Serbia', 3.4],
['Seychelles', 0.6],
['Singapur', 10.1],
['Sri Lanka', 0],
['Suaziland', 0.2],
['South Africa', 2.4],
['Sweden', 7.2],
['Swizerland', 43],
['Thailand', 0.7],
['Tanzania', 0.1],
['Tunisia', 0.1],
['Trinidad and Tobago', 0.2],
['Turkey', 4.1],
['Ukraine', 0.7],
['Uruguay', 6.4],
['Uzbekistan', 0.1],
['Venezuela', 98.4],
['Vietnam', 0.1],
        ]);


    var options3 = {};

    var chart3 = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart3.draw(data3, options3);





        var data4 = new google.visualization.DataTable();
        data4.addColumn('string', 'Universidad');
        data4.addColumn('number', 'Grupos');
        data4.addColumn('number', 'Artículos');
        data4.addColumn('number', 'Capítulos');
        data4.addColumn('number', 'Libros');
        data4.addColumn('number', 'Estudiantes');
        data4.addColumn('number', 'Profesores');
        data4.addRows([
          ['Universidad de los Andes',153,687,293,86,13067,1324],
          ['Universidad Nacional de Colombia',573,2827,677,232,42431,4203],
          ['Colegio Mayor de Nuestra Senora del Rosario',42,286,127,44,8353,1254],
          ['Universidad del Norte',43,329,116,57,9793,946],
          ['Universidad Industrial de Santander',92,548,79,88,18029,1745],
          ['Universidad de Cartagena',94,590,56,19,16961,1291],
          ['Escuela de Ingeniería de Antioquia',7,29,7,1,1491,78],
          ['Universidad del Valle',178,774,122,45,21592,2040],
          ['Universidad Eafit',41,208,68,19,9328,920],
          ['Universidad de Ibagué',12,34,6,3,6395,142],
          ['Universidad Icesi',14,167,39,7,5071,543],
          ['Universidad del Cauca',66,275,97,22,13447,1096],
          ['Universidad de Antioquia',264,1539,358,97,33896,5863],
          ['Corporación Universidad de la Costa',22,73,5,5,8967,419],
          ['Universidad Militar Nueva Granada',65,337,24,10,13303,1088],
          ['Universidad del Atlántico',69,244,32,17,20009,1086],
          ['Universidad de Córdoba',48,227,19,24,12991,880],
          ['Universidad Ces',26,263,61,7,2497,848],
          ['Universidad de Narino',58,190,28,11,9989,721],
          ['Universidad Distrital Francisco José de Caldas',117,469,131,87,19834,1885],
          ['Universidad de Caldas',68,301,24,11,9755,904],
          ['Universidad Tecnológica de Pereira',84,338,39,15,13213,1238],
          ['Universidad Tecnológica de Bolivar',15,61,44,11,3350,349],
          ['Universidad del Magdalena',51,210,26,12,18640,1196],
          ['Fundación Universitaria Sanitas',13,38,4,1,909,199],
          ['Pontificia Universidad Javeriana',118,711,220,79,24838,4143],
          ['Universidad Pontificia Bolivariana',82,347,152,18,19948,2508],
          ['Universidad Antonio Nariño',35,166,9,4,13542,1907],
          ['Universitaria Agustiniana',5,25,3,1,4563,286],
          ['Universidad Autónoma de Manizales',17,55,18,8,2289,415],
          ['Universidad Pedagógica y Tecnológica de Colombia',106,254,20,11,21841,1725],
          ['Universidad de los Llanos',31,67,13,5,4759,563],
          ['Universidad de la Salle',54,234,159,20,14933,1095],
          ['Universidad Surcolombiana',38,163,17,12,9172,729],
          ['Universidad del Quindío',45,170,18,15,16312,1125],
          ['Universidad de San Buenaventura',46,230,67,32,12957,1411],
          ['Universidad Autónoma de Bucaramanga',30,86,8,4,6930,848],
          ['Fundacion Universitaria de Ciencias de la Salud',31,131,35,3,1995,384],
          ['Universidad El Bosque',44,135,49,3,7967,1545],
          ['Universidad Autónoma del Caribe',28,91,35,6,9671,627],
          ['Universidad de la Sabana',51,170,62,8,7311,1604],
          ['Universidad Colegio Mayor de Cundinamarca',13,48,14,8,4073,604],
          ['Universidad Manuela Beltrán',24,62,25,6,8664,466],
          ['Corporación Universitaria Empresarial Alexander Von Humboldt',7,2,2,0,746,124],
          ['Instituto Tecnológico Metropolitano',12,151,30,9,6262,925],
          ['Universidad Autónoma de Occidente',29,54,8,15,8069,700],
          ['Universidad de Pamplona',47,223,16,15,18271,1550],
          ['Universidad de Medellín',27,72,35,13,11512,725],
          ['Universidad de Cundinamarca',11,28,9,4,11063,859],
          ['Fundación Universitaria Seminario Bíblico de Colombia',1,1,2,0,89,21],
        ]);

        var table1 = new google.visualization.Table(document.getElementById('table_div'));

        table1.draw(data4, {showRowNumber: true, width: '100%', height: '100%', allowHtml: true});


     }
  function createCustomHTMLContent(flagURL, colombia, oecd, eeuu) {
    return '<div style="padding:5px 5px 5px 5px;">' +
        '<img src="' + flagURL + '" style="width:85px;height:70px;padding:0px 0px 0px 15px;margin-left: 0px; margin-bottom: 0px"><br/>' +
        '<table id="tooltip">' + '<tr>' +
        '<td style="padding-bottom: 1em;align:left"></td>'+ '</tr>' + '<tr>' +
        '<td><b><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/2000px-Flag_of_Colombia.svg.png" style="width:25px;height:15px;padding:0px 0px 0px 0px;margin-left: 0px; margin-bottom: 0px"><br/> </b></td>'+
        '<td><b>' + colombia + '</b></td>' + '</tr>' + '<tr>' +
        '<td><b> <img src="{{site.baseurl}}/public/images/Logos/OECD.png" style="width:25px;height:15px;padding:0px 0px 0px 0px;margin-left: 0px; margin-bottom: 0px"><br/>  </b></td>' +
        '<td><b>' + oecd + '</b></td>' + '</tr>' + '<tr>' +
        '<td><b> <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Flag_of_the_USA.svg" style="width:30px;height:30px;padding:0px 0px 0px 0px;margin-left: 0px; margin-bottom: 0px"><br/> </b></td>' +
        '<td><b>' + eeuu + '</b></td>' + '</tr>' + '</table>' + '</div>';
  }
  // jsFooter
  </script>

</head>


