<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">  
         google.charts.load('current', {'packages':['geochart']});
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {

        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
['Afghanistan', 0.4],
['Germany', 155.3],
['Saudi Arabia', 1.5],
['Argelia', 0.2],
['Argentina', 94.2],
['Armenia', 0.1],
['Australia', 14.8],
['Austria', 10.2],
['Azerbaijan', 0.1],
['Bangladesh', 0.3],
['Belice', 0],
['Belorus', 0],
['Belgica', 11.2],
['Bolivia', 2.6],
['Boznia Herzegovina', 0.2],
['Brazil', 213.6],
['Brunei', 0.1],
['Bulgaria', 13.9],
['Burundi', 0.1],
['Cambodia', 0],
['Cameroon', 0.1],
['Canada', 32.8],
['Chad', 0.1],
['Chile', 133.4],
['China', 9.7],
['Cyprus', 0.2],
['North Korea', 0.3],
['South Korea', 3.7],
['Ivory Coast', 0.1],
['Costa Rica', 38.8],
['Croatia', 1.4],
['Cuba', 57.4],
['Denmark', 7.7],
['Dominica', 0],
['Ecuador', 13.8],
['Egypt', 3.1],
['El Salvador', 0.2],
['UAE', 1.8],
['Scotland', 1.9],
['Slovakia', 0.7],
['Slovenia', 0.4],
['Spain', 366.4],
['Stonia', 0.6],
['Ethiopia', 0.1],
['Phillippines', 0.4],
['Finland', 2.4],
['Fiji', 0.1],
['France', 48.8],
['United Kingdom', 141.3],
['USA', 1183.9],
['Wales', 0.1],
['Greece', 4.5],
['Guatemala', 0.5],
['Haiti', 0.1],
['Honduras', 0.5],
['Hong Kong', 1],
['Hungary', 6.8],
['India', 24.9],
['Indonesia', 0.4],
['England', 275.3],
['Irak', 0.1],
['Ireland', 9.5],
['Iran', 0.9],
['Iceland', 0.4],
['Israel', 4.9],
['Italy', 42.9],
['Jamaica', 0],
['Japan', 12.9],
['Jordan', 0],
['Kazakhstan', 0],
['Kenya', 1.2],
['Kuwait', 0.1],
['Letonia', 0.3],
['Lithuania', 0.7],
['Luxembourg', 0.3],
['Macau', 0.2],
['Madagascar', 0],
['Malaysia', 1.6],
['Malaui', 0.3],
['Malta', 0.1],
['Morocco', 0.2],
['Mauritius', 0.1],
['Monaco', 0.1],
['Mongolia', 0.1],
['Mozambique', 0],
['Mexico', 148.4],
['Namibia', 0.1],
['Nepal', 0.1],
['Niger', 0.2],
['Nicaragua', 0.3],
['Nigeria', 2.8],
['Norway', 2.8],
['New Zealand', 14.3],
['Pakistan', 5.2],
['Panama', 1.6],
['Paraguay', 0.2],
['Netherlands', 255.6],
['Peru', 24.7],
['Poland', 9.8],
['Portugal', 9.7],
['Puerto Rico', 10.2],
['Czech Republic', 4.2],
['Congo', 0.1],
['Dominican Republic', 0.7],
['Romania', 5.4],
['Russia', 7.1],
['Serbia', 3.4],
['Seychelles', 0.6],
['Singapur', 10.1],
['Sri Lanka', 0],
['Suaziland', 0.2],
['South Africa', 2.4],
['Sweden', 7.2],
['Swizerland', 43],
['Thailand', 0.7],
['Tanzania', 0.1],
['Tunisia', 0.1],
['Trinidad and Tobago', 0.2],
['Turkey', 4.1],
['Ukraine', 0.7],
['Uruguay', 6.4],
['Uzbekistan', 0.1],
['Venezuela', 98.4],
['Vietnam', 0.1],
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
</script>

       <div id="regions_div" style="width: 1300px; height: 800px;"></div>