
<head>
    <meta charset="utf-8">

    <style>
      #tooltip{
        padding:0px 0px 0px 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        align: left;
      }
    </style>
    
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">

  google.charts.load('current', {packages: ['corechart', 'bar', 'line', 'geochart', 'table']});
  google.charts.setOnLoadCallback(drawChart);


  function drawChart() {
    var dataTable1 = new google.visualization.DataTable();
    dataTable1.addColumn('string', 'Country');
    // Use custom HTML content for the domain tooltip.
    dataTable1.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
    dataTable1.addColumn('number', '');
    dataTable1.addColumn('number', 'En Colombia');
    dataTable1.addColumn('number', 'En OCDE');
    dataTable1.addColumn('number', 'En EEUU');

    dataTable1.addRows([
      ['Fundación Universitaria de Ciencias de la Salud', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/ciencias.png', 22.9, 3, 1.1), 0, 22.9, 3, 1.1],
      ['Universidad Nacional', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/unal.png', 49.4, 20.1, 8), 0, 49.4, 20.1, 8],
      ['Universidad de los Andes', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/uniandes.png', 43.4, 35.6, 17.1), 0, 43.4, 35.6, 17.1],
      ['Universidad CES', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/ces.png', 89.7, 26, 15.1), 0, 89.7, 26, 15.1],
      ['Universidad Autónoma de Manizales', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/autonoma.png', 23.5, 6, 1.5), 0, 23.5, 6, 1.5],
      ['Universidad de Antioquia', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/antioquia.png', 34.1, 14.7, 5.5), 0, 34.1, 14.7, 5.5],
      ['Universidad del Valle', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/valle.png', 19.7, 8.7, 3.1), 0, 19.7, 8.7, 3.1],
      ['Universidad de la Sabana', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/sabana.png', 16.1, 5.3, 1.7), 0, 16.1, 5.3, 1.7],
      ['Corporación Universitaria Lasallista', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/lasallista.png', 23.6, 1.1, 0.2), 0, 23.6, 1.1, 0.2],
      ['Universidad de Caldas', createCustomHTMLContent('{{site.baseurl}}/public/images/Logos/caldas.png', 23.9, 5.4, 1.7), 0, 23.9, 5.4, 1.7],
    ]);

    var options1 = {
      title: '',
      titleTextStyle: {fontSize: '16', bold: 'TRUE', alignment: 'center'},
      colors: ['transparent', '#C0C0C0', '#8C7853', '#FFD700'],
      // This line makes the entire category's tooltip active.
      focusTarget: 'category',
      // Use an HTML tooltip.
      tooltip: { isHtml: true },
      legend: { position: 'right', alignment: 'center', title: 'Publicaciones en:', textStyle: {fontSize: '14'}, },
      backgroundColor: { fill: "transparent" },
      bar: {groupWidth: "85%"},
      vAxis: {
          title: 'Publicaciones/1000 estudiantes',
                titleTextStyle: {fontSize: '14', italic:'FALSE', bold: 'FALSE', alignment: 'center'},
          textStyle: {
            italic:'FALSE', color: '#000000', fontSize: '13'
          }
        },
      chartArea: {left:'70', width: '80%', height: '60%', top:'30', backgroundColor: { fill: "#FFFFFF" }},
      hAxis: {
        textStyle: {fontSize: '13'}
      },
      isStacked: false,
    };

    // Create and draw the visualization.
    var chart = new google.visualization.ColumnChart(document.getElementById('custom_html_content_div_top'));
    chart.draw(dataTable1, options1);

    
    // GRAFICA 2:
      var data2 = new google.visualization.DataTable();
      data2.addColumn('string', 'Año');
      data2.addColumn('number', 'Fundación Universitaria de Ciencias de la Salud');
      data2.addColumn('number', 'Universidad Nacional');
      data2.addColumn('number', 'Universidad de los Andes');
      data2.addColumn('number', 'Universidad CES');
      data2.addColumn('number', 'Universidad Autónoma de Manizales');
      data2.addColumn('number', 'Universidad de Antioquia');
      data2.addColumn('number', 'Universidad del Valle');
      data2.addColumn('number', 'Universidad de la Sabana');
      data2.addColumn('number', 'Corporación Universitaria Lasallista');
      data2.addColumn('number', 'Universidad de Caldas');

      data2.addRows([
		['2000',,10.5179,21.01553,20.24291,0.5154639,,,1.121233,0,2.140673],
		['2001',0.7936508,12.18241,23.13354,12.97017,1.251565,11.2249,6.770099,1.019071,0,3.08869],
		['2002',0,13.99846,29.49353,23.51485,2.873563,12.63625,7.411301,3.312212,0,3.832991],
		['2003',0,13.56746,24.89261,19.47308,7.48263,12.25198,7.131968,1.85271,0,2.585386],
		['2004',0,16.18648,27.19432,20.85506,9.637188,12.34154,6.989167,4.868719,1.061571,7.393043],
		['2005',0,20.52609,32.16743,29.50558,6.282125,13.75566,7.931112,4.429482,3.215434,5.708295],
		['2006',0,21.09662,28.69898,24.40775,2.844141,14.21924,8.51007,3.538175,0,5.973578],
		['2007',0,21.21197,31.93543,43.50979,11.26126,13.02879,7.728767,5.065666,0,4.845165],
		['2008',2.533249,24.54964,36.65492,38.55722,7.923033,15.6486,10.08368,4.966887,0,5.791277],
		['2009',1.875,23.56523,42.10354,37.16814,9.596929,15.36291,10.34483,8.169149,3.025719,6.347816],
		['2010',9.457755,26.4306,55.25773,31.65542,8.276533,16.32254,8.843419,9.181573,0.754717,6.436636],
		['2011',5.13992,24.80688,54.63576,27.06486,4.322766,18.88277,9.31436,8.754012,0.788022,6.129233],
		['2012',9.819967,25.33504,44.83758,14.64886,6.240999,18.2484,10.6947,8.920985,3.586801,5.641749],
		['2013',10.02506,27.76272,46.52943,20.82499,,17.6127,11.62468,9.301053,2.612671,9.226038],
  	]);

      var options2 = {
        chart: {
          title: ''
        },
        chartArea: {left:'100', top:'30', width: '10%', height: '60%', backgroundColor: { fill: "#FFFFFF" }},
        titleTextStyle: {fontSize: '16', bold: 'TRUE', alignment: 'center', color: '#000000', },
        backgroundColor: { fill: "transparent" },
        hAxis: {
          format: 'none',
          title: 'Año',
          textStyle: {
            italic:'FALSE', color: '#000000', fontSize: '13'
          }
        },
        vAxis: {
          title: 'Publicaciones/1000 estudiantes',
          titleTextStyle: {fontSize: '14', italic:'FALSE', bold: 'FALSE', alignment: 'center'},
          textStyle: {
            color: '#000000', fontSize: '13'
          }
        },
        width: '80%',
        height: '80%'
      };

      var chart2 = new google.charts.Line(document.getElementById('linechart_material'));

      chart2.draw(data2, google.charts.Line.convertOptions(options2));
  


  // GRAFICA 3 - MAPA

  var data3 = google.visualization.arrayToDataTable([
          ['Country', 'Publicaciones promedio por año'],
['Afghanistan', 0.4],
['Germany', 155.3],
['Saudi Arabia', 1.5],
['Argelia', 0.2],
['Argentina', 94.2],
['Armenia', 0.1],
['Australia', 14.8],
['Austria', 10.2],
['Azerbaijan', 0.1],
['Bangladesh', 0.3],
['Belice', 0],
['Belorus', 0],
['Belgica', 11.2],
['Bolivia', 2.6],
['Boznia Herzegovina', 0.2],
['Brazil', 213.6],
['Brunei', 0.1],
['Bulgaria', 13.9],
['Burundi', 0.1],
['Cambodia', 0],
['Cameroon', 0.1],
['Canada', 32.8],
['Chad', 0.1],
['Chile', 133.4],
['China', 9.7],
['Cyprus', 0.2],
['North Korea', 0.3],
['South Korea', 3.7],
['Ivory Coast', 0.1],
['Costa Rica', 38.8],
['Croatia', 1.4],
['Cuba', 57.4],
['Denmark', 7.7],
['Dominica', 0],
['Ecuador', 13.8],
['Egypt', 3.1],
['El Salvador', 0.2],
['UAE', 1.8],
['Scotland', 1.9],
['Slovakia', 0.7],
['Slovenia', 0.4],
['Spain', 366.4],
['Stonia', 0.6],
['Ethiopia', 0.1],
['Phillippines', 0.4],
['Finland', 2.4],
['Fiji', 0.1],
['France', 48.8],
['United Kingdom', 141.3],
['United States', 1183.9],
['Wales', 0.1],
['Greece', 4.5],
['Guatemala', 0.5],
['Haiti', 0.1],
['Honduras', 0.5],
['Hong Kong', 1],
['Hungary', 6.8],
['India', 24.9],
['Indonesia', 0.4],
['England', 275.3],
['Irak', 0.1],
['Ireland', 9.5],
['Iran', 0.9],
['Iceland', 0.4],
['Israel', 4.9],
['Italy', 42.9],
['Jamaica', 0],
['Japan', 12.9],
['Jordan', 0],
['Kazakhstan', 0],
['Kenya', 1.2],
['Kuwait', 0.1],
['Letonia', 0.3],
['Lithuania', 0.7],
['Luxembourg', 0.3],
['Macau', 0.2],
['Madagascar', 0],
['Malaysia', 1.6],
['Malaui', 0.3],
['Malta', 0.1],
['Morocco', 0.2],
['Mauritius', 0.1],
['Monaco', 0.1],
['Mongolia', 0.1],
['Mozambique', 0],
['Mexico', 148.4],
['Namibia', 0.1],
['Nepal', 0.1],
['Niger', 0.2],
['Nicaragua', 0.3],
['Nigeria', 2.8],
['Norway', 2.8],
['New Zealand', 14.3],
['Pakistan', 5.2],
['Panama', 1.6],
['Paraguay', 0.2],
['Netherlands', 255.6],
['Peru', 24.7],
['Poland', 9.8],
['Portugal', 9.7],
['Puerto Rico', 10.2],
['Czech Republic', 4.2],
['Congo', 0.1],
['Dominican Republic', 0.7],
['Romania', 5.4],
['Russia', 7.1],
['Serbia', 3.4],
['Seychelles', 0.6],
['Singapur', 10.1],
['Sri Lanka', 0],
['Suaziland', 0.2],
['South Africa', 2.4],
['Sweden', 7.2],
['Swizerland', 43],
['Thailand', 0.7],
['Tanzania', 0.1],
['Tunisia', 0.1],
['Trinidad and Tobago', 0.2],
['Turkey', 4.1],
['Ukraine', 0.7],
['Uruguay', 6.4],
['Uzbekistan', 0.1],
['Venezuela', 98.4],
['Vietnam', 0.1],
        ]);


    var options3 = {};

    var chart3 = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart3.draw(data3, options3);





        var data4 = new google.visualization.DataTable();
        data4.addColumn('string', 'Universidad');
        data4.addColumn('number', 'Grupos');
        data4.addColumn('number', 'Artículos');
        data4.addColumn('number', 'Libros');
        data4.addColumn('number', 'Capítulos');
        data4.addColumn('number', 'Estudiantes');
        data4.addColumn('number', 'Publicacion/Estudiante');
        data4.addRows([
          ['Universidad Nacional de Colombia', 573, 2827, 677, 232, 42905, 87.1],
['Universidad de Antioquia', 264, 1539, 358, 97, 33896, 58.8],
['Universidad del Valle', 178, 774, 122, 45, 23900, 39.4],
['Universidad de los Andes', 153, 687, 293, 86, 13114, 81.3],
['Pontificia Universidad Javeriana', 118, 711, 220, 79, 27604, 36.6],
['Universidad Distrital Francisco José de Caldas', 117, 469, 131, 87, 19923, 34.5],
['Universidad Pedagógica y Tecnológica de Colombia', 106, 254, 20, 11, 22550, 12.6],
['Universidad Libre', 101, 201, 84, 76, 28008, 12.9],
['Universidad de Cartagena', 94, 590, 56, 19, 16961, 39.2],
['Universidad Industrial de Santander', 92, 548, 79, 88, 18717, 38.2],
['Universidad Tecnológica de Pereira', 84, 338, 39, 15, 13213, 29.7],
['Universidad Pontificia Bolivariana', 82, 347, 152, 18, 19948, 25.9],
['Universidad de Caldas', 68, 301, 24, 11, 9926, 33.9],
['Universidad del Cauca', 66, 275, 97, 22, 13447, 29.3],
['Universidad Cooperativa de Colombia', 65, 167, 18, 5, 50288, 3.8],
['Universidad Militar Nueva Granada', 65, 337, 24, 10, 13303, 27.9],
['Universidad Pedagógica Nacional', 58, 219, 136, 68, 9138, 46.3],
['Universidad de Nariño', 58, 190, 28, 11, 10223, 22.4],
['Universidad de La Salle', 54, 234, 159, 20, 14933, 27.7],
['Universidad del Magdalena', 51, 210, 26, 12, 18640, 13.3],
['Universidad de La Sabana', 51, 170, 62, 8, 7311, 32.8],
['Universidad Nacional Abierta y A Distancia', 50, 91, 32, 10, 56447, 2.4],
['Universidad del Tolima', 49, 165, 23, 17, 28106, 7.3],
['Universidad de Córdoba', 48, 227, 19, 24, 12991, 20.8],
['Universidad de Pamplona', 47, 223, 16, 15, 32913, 7.7],
['Universidad de San Buenaventura', 46, 230, 67, 32, 12971, 25.4],
['Universidad del Norte', 43, 329, 116, 57, 9793, 51.3],
['Colegio Mayor de Nuestra Señora del Rosario', 42, 286, 127, 44, 8929, 51.2],
['Universidad Eafit', 41, 208, 68, 19, 9328, 31.6],
['Universidad Surcolombiana', 38, 163, 17, 12, 9181, 20.9],
['Universidad Antonio Nariño', 35, 166, 9, 4, 25171, 7.1],
['Universidad Francisco de Paula Santander', 34, 66, 3, 15, 20496, 4.1],
['Universidad Santiago de Cali', 33, 63, 14, 17, 15660, 6],
['Fundacion Universidad de Bogotá Jorge Tadeo Lozano', 33, 107, 47, 13, 9522, 17.5],
['Fundacion Universitaria de Ciencias de La Salud', 31, 131, 35, 3, 1995, 84.7],
['Universidad Popular del Cesar', 31, 73, 68, 16, 13092, 12],
['Universidad de los Llanos', 31, 67, 13, 5, 5377, 15.8],
['Universidad Simon Bolívar', 31, 42, 21, 9, 12464, 5.8],
['Universidad Autónoma de Bucaramanga', 30, 86, 8, 4, 6930, 14.1],
['Universidad Autónoma de Occidente', 29, 54, 8, 15, 8069, 9.5],
['Universidad Autónoma del Caribe', 28, 91, 35, 6, 10035, 13.2],
['Universidad de Medellín', 27, 72, 35, 13, 13043, 9.2],
['Universidad de Sucre', 27, 109, 34, 5, 4490, 33],
['Universidad Externado de Colombia', 27, 72, 142, 29, 6036, 40.3],
['Universidad CES', 26, 263, 61, 7, 2497, 132.6],
['Universidad de Santander', 23, 35, 7, 4, 8724, 5.3],
['Politecnico Colombiano Jaime Isaza Cadavid', 22, 86, 12, 5, 12075, 8.5],
['Universidad Sergio Arboleda', 22, 52, 36, 9, 7817, 12.4],
['Fundación Universidad Autónoma de Colombia', 21, 40, 15, 11, 8094, 8.2],
['Universidad Católica de Colombia', 20, 59, 15, 6, 11293, 7.1],
['Universidad Central', 19, 37, 29, 8, 10514, 7],
['Universidad de la Amazonia', 18, 56, 11, 21, 7006, 12.6],
['Universidad de Boyacá - Uniboyacá', 18, 34, 4, 9, 5090, 9.2],
['Universidad de Manizales', 16, 67, 26, 14, 4031, 26.5],
['Fundacion Universitaria los Libertadores', 16, 25, 7, 0, 11199, 2.9],
['Universidad Tecnológica de Bolívar', 15, 61, 44, 11, 3363, 34.5],
['Universidad Mariana', 15, 23, 19, 3, 5936, 7.6],
['Universidad Metropolitana', 14, 20, 2, 1, 5028, 4.6],
['Universidad Tecnológica del Chocó Diego Luis Córdoba', 14, 26, 7, 1, 11654, 2.9],
['Universidad Icesi', 14, 167, 39, 7, 5071, 42],
['Universidad del Sinú Elías Bechara Zainum', 13, 16, 10, 6, 6886, 4.6],
['Universidad Colegio Mayor de Cundinamarca', 13, 48, 14, 8, 4073, 17.2],
['Escuela Colombiana de Ingeniería Julio Garavito', 13, 42, 2, 1, 4510, 10],
['Fundacion Universitaria Agraria de Colombia', 12, 7, 2, 2, 3350, 3.3],
['Instituto Tecnológico Metropolitano', 12, 151, 30, 9, 6262, 30.3],
['Universidad de Ibagué', 12, 34, 6, 3, 6395, 6.7],
['Corporación Universitaria Lasallista', 12, 41, 24, 1, 1531, 43.1],
['Corporación Universitaria Rafael Nuñez', 12, 58, 1, 10, 6067, 11.4],
['Universidad de Cundinamarca', 11, 28, 9, 4, 11063, 3.7],
['Universidad Católica de Pereira', 11, 35, 9, 4, 2386, 20.1],
['Corporacion Universitaria Republicana', 10, 11, 1, 4, 4060, 3.9],
['Corporacion Universidad Piloto de Colombia', 10, 26, 18, 4, 7881, 6.1],
['Universidad Católica de Oriente', 10, 18, 7, 3, 3371, 8.3],

        ]);

        var table1 = new google.visualization.Table(document.getElementById('table_div'));

        table1.draw(data4, {showRowNumber: true, width: '100%', height: '100%', allowHtml: true});


     }
  function createCustomHTMLContent(flagURL, colombia, oecd, eeuu) {
    return '<div style="padding:5px 5px 5px 5px;">' +
        '<img src="' + flagURL + '" style="width:85px;height:70px;padding:0px 0px 0px 15px;margin-left: 0px; margin-bottom: 0px"><br/>' +
        '<table id="tooltip">' + '<tr>' +
        '<td style="padding-bottom: 1em;align:left"></td>'+ '</tr>' + '<tr>' +
        '<td><b><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/2000px-Flag_of_Colombia.svg.png" style="width:25px;height:15px;padding:0px 0px 0px 0px;margin-left: 0px; margin-bottom: 0px"><br/> </b></td>'+
        '<td><b>' + colombia + '</b></td>' + '</tr>' + '<tr>' +
        '<td><b> <img src="{{site.baseurl}}/public/images/Logos/OECD.png" style="width:25px;height:15px;padding:0px 0px 0px 0px;margin-left: 0px; margin-bottom: 0px"><br/>  </b></td>' +
        '<td><b>' + oecd + '</b></td>' + '</tr>' + '<tr>' +
        '<td><b> <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Flag_of_the_USA.svg" style="width:30px;height:30px;padding:0px 0px 0px 0px;margin-left: 0px; margin-bottom: 0px"><br/> </b></td>' +
        '<td><b>' + eeuu + '</b></td>' + '</tr>' + '</table>' + '</div>';
  }
  // jsFooter
  </script>

</head>


